<form method="POST" action="/categorias/editar/<%= categoria.id %>">
    <input placeholder="Insire o nome da categoria" type="text" name="categoria" value="<%= categoria.categoria %>" />
    <button>Salvar</button>
</form>