<%- include('../header') %>

<form method="POST" action="/categorias/nova">
    <div class="form-group">
        <label for="inputCategoria">Categoria</label>
        <input name="categoria" type="text" class="form-control" id="inputCategoria" aria-describedby="categoriaHelp" placeholder="Insira o nome da categoria">
        <small id="categoriaHelp" class="form-text text-muted">Nome da categoria.</small>
    </div>
    <button class="btn btn-success">Salvar</button>
</form>

<%- include('../footer') %>